name: Release

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          environment-file: conda/release.yaml
          channels: nodefaults,conda-forge
          channel-priority: strict
          activate-environment: sugar
          auto-update-conda: true
          conda-solver: libmamba
          python-version: "${{ 3.10 }}"

      - name: Install deps
        run: |
          poetry install --verbose

      - name: Run semantic release (for tests)
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: makim release.dry

      - name: Run semantic release
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          poetry config pypi-token.pypi ${PYPI_TOKEN}
          run: makim release.ci

        # added for documentation
      - name: Generate documentation with changes from semantic-release
        run: makim docs.build

      - name: GitHub Pages action
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: peaceiris/actions-gh-pages@v3.5.9
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
